name: CI - IaC Pipeline

on:
  push:
    paths:
      - 'iac_pipeline/**'
  workflow_dispatch:

jobs:
  run-iac-pipeline:
    uses: ./.github/workflows/ci-template.yml
    with:
      pipeline-dir: iac_pipeline
      environment: dev
      tools: '["tflint","checkov","plan","apply","destroy"]'

